@charset "UTF-8";

* {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
}
body{
    background: url('../fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
}
section#telefone{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

height: 627px;
width: 311px;
background-color:orangered;
background: url('../frame-iphone.png') no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}
#rede-sociais{
    text-align: right;
 }
#rede-sociais img{
 background-color: orangered;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3, 0, 0);
    margin:8px ;
    box-sizing: border-box;
}
#rede-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.508);
    transform: translate(-3px,-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.632);
    transition: transform 0.4s, border 1s;
    
}