@charset "UTF-8";

* {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
}
body{
    background: url('../fundo-madeira.jpg');
}
main{
    height: 100vh;
    position: relative;
}
section#telefone{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

height: 627px;
width: 311px;
background-color: blue;
background: url('../frame-iphone.png') no-repeat;
}